asgiref==3.8.1
Django==5.2.1
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
Markdown==3.8
mysqlclient==2.2.7
PyJWT==2.9.0
sqlparse==0.5.3
accelerate==1.5.2
anaconda-anon-usage==0.4.4
anaconda-catalogs==0.2.0
anaconda-cloud-auth==0.5.1
anaconda-navigator==2.6.3
anaconda-project==0.11.1
astropy==6.1.3
autopep8==2.0.4
azure-ai-formrecognizer==3.3.3
Bottleneck==1.3.7
colorama==0.4.6
conda-build==24.9.0
conda-repo-cli==1.0.114
conda-token==0.5.0+1.g2209e04
cytoolz==0.12.2
dask-expr==1.1.13
datasets==3.4.1
datashader==0.16.3
distributed==2024.8.2
dmglib==0.9.5
en_core_web_sm==3.8.0
farm-haystack==1.26.4
fiftyone==1.3.2
flake8==7.0.0
Flask==3.0.3
fqdn==1.5.1
gensim==4.3.3
greenlet==3.0.1
grpcio-status==1.71.0
gymnasium==1.1.1
haystack==0.42
HeapDict==1.0.1
httptools==0.6.4
hvplot==0.11.0
imagecodecs==2023.1.23
imbalanced-learn==0.12.3
ipympl==0.9.7
ipywebrtc==0.6.0
isoduration==20.11.0
jupyter==1.0.0
kagglehub==0.3.10
langchain==0.3.21
langchain-chroma==0.2.2
langchain-google-genai==2.0.9
langchain-openai==0.3.11
langdetect==1.0.9
lckr_jupyterlab_variableinspector==3.1.0
lmdb==1.4.1
lz4==4.3.2
mmdet==3.3.0
mypy==1.11.2
navigator-updater==0.5.1
nltk==3.9.1
openpyxl==3.1.5
pdf2image==1.17.0
pdfplumber==0.11.6
pip==25.1.1
pycurl==7.45.3
pydantic-settings==2.8.1
pydocstyle==6.3.0
pygame==2.6.1
PyMuPDF==1.25.4
pyodbc==5.1.0
PyPDF2==3.0.1
PySocks==1.7.1
pytesseract==0.3.13
pytest==7.4.4
python-docx==1.1.2
python-frontmatter==1.1.0
python-jose==3.4.0
python-magic==0.4.27
python-multipart==0.0.20
python-pptx==1.0.0
PyWavelets==1.7.0
rope==1.12.0
ruamel-yaml-conda==0.17.21
s3fs==2024.6.1
Scrapy==2.11.1
sentence-transformers==4.0.1
sentencepiece==0.2.0
sip==6.7.12
spacy==3.8.4
spyder==5.5.1
statsmodels==0.14.2
streamlit==1.37.1
tables==3.10.1
tf_keras==2.19.0
thop==0.1.1.post2209072238
tika==3.1.0
torchaudio==2.6.0
ultralytics==8.3.99
unicodedata2==15.1.0
Unidecode==1.3.8
uri-template==1.3.0
uvloop==0.21.0
watchfiles==1.0.4
webcolors==24.11.1
websockets==15.0.1
whatthepatch==1.0.2
xlwings==0.32.1
yapf==0.40.2


